@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    outline: none;
    scroll-behavior: smooth;
    border: none;
}
html {
    overflow-x: hidden;
}
body{
    background-color: #252525;
    min-height: 100vh;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

/* Navigation bar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position:relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #2cffff;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%
}

/* Sections  */
section {
    min-height: 50vh;
    padding: 5% 9% 0rem;
}

/* Home page */
.home {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
#element {
    color: #2cffff;
}
.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img img {
    padding-left: 30px;
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

/* All buttons */
.btn-donate {
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
     transition: .5s;
}
  
.btn-donate:hover {
    box-shadow: none;
}

/* lets talk part */
.social{
    text-align: center;
    min-height: 30vh;
}
.back {
    background: linear-gradient(135deg, rgba(172, 155, 155, 0.1),rgba(254, 254, 254, 0));
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.social h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

/* lets talk part buttons */
button {
background: transparent;
position: relative;
padding: 5px 15px;
align-items: center;
margin: 10px;
font-size: 17px;
font-weight: 600;
text-decoration: none;
cursor: pointer;
border-radius: 25px;
outline: none;
overflow: hidden;
transition: color 0.3s 0.1s ease-out;
text-align: center;
}

.btn1 {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(40, 144, 241);
}

.btn2 {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(24, 119, 242);
}

.btn3 {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(225, 48, 108);
}

.btn4 {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 119, 181);
}

.btn5 {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

button span {
margin: 10px;
}

button::before {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
content: '';
border-radius: 50%;
display: block;
width: 20em;
height: 20em;
left: -5em;
text-align: center;
transition: box-shadow 0.5s ease-out;
z-index: -1;
}

.btn1:hover {
color: #fff;
border: 1px solid rgb(40, 144, 241);
}

.btn2:hover {
color: #fff;
border: 1px solid rgb(24, 119, 242);
}

.btn3:hover {
color: #fff;
border: 1px solid rgb(225, 48, 108);
}

.btn4:hover {
color: #fff;
border: 1px solid rgb(0, 119, 181);
}

.btn5:hover {
color: #fff;
border: 1px solid rgb(0, 0, 0);
}

.btn1:hover::before {
box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}

.btn2:hover::before {
box-shadow: inset 0 0 0 10em rgb(24, 119, 242);
}

.btn3:hover::before {
box-shadow: inset 0 0 0 10em rgb(225, 48, 108);
}

.btn4:hover::before {
box-shadow: inset 0 0 0 10em rgb(0, 119, 181);
}

.btn5:hover::before {
box-shadow: inset 0 0 0 10em rgb(0, 0, 0);
}

/* about me part */
.about {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 2rem;
    color: rgb(255, 255, 255);
    background: var(--snd-bg-color);
}
.about-img img {
    width: 35vw;
    border-radius: 10%;
}
.heading {
    text-align: center;
    font-size: 3.5rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content .details {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right:50px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #2cffff;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #2cffff;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* service part */
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services  {
    min-height: 50vh;
    padding: 5% 9% 0rem;
}
.services-list div{
    background: #000000;
    padding: 40px;
    font-size:13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover {
    background: #2cffff;
    color: #000000;
    transform: translateY(-10px);
}

/* portfolio part here */
.portfolio {
    min-height: 50vh;
    padding: 5% 9% 0rem;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
}
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#2cffff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 40px;
    transition: height 0.5s;
}
.layer h3 {
    display: flex;
    font-size: 30px;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color: #2cffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.layer p {
    display: flex;
    font-size: 20px;
}
.portfolio h2 {
    margin-top: 30px;
}

/* Contact me part here */
.Contact{
    padding-bottom: 3%;
}
.Contact h3{
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 10px;
 }
 
 form .input-box{
    display: flex;
    justify-content: space-between;
 }
 .input-box .input-field{
    width: 48.5%;
 }
 .field.error .item{
    border-color: red;
 }
 .field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: aliceblue;
    margin: 12px 0;
 }
 .field .item::placeholder{
    color: rgba(255, 255, 255, .3);
 }

 .field .error-txt{
    font-size: 14.5px;
    color: red;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
 }
 .field.error .error-txt{
    display: block;
 }
 form .textarea-field .item{
    resize: none;
 }
 form .textarea-field .error-txt{
    margin-top: -10px;
 }
 form button{
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
 }
form button:hover{
    box-shadow: none;
}

/* page scroll */

.reveal{
    position: relative;
    transform: translateY(-25px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}



/*-------------------------------------------mobile view-------------------------------------------*/

@media screen and (max-width:600px){
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

        *{
            margin: 0 ; 
            padding: 0;
            box-sizing: border-box;
            font-family: 'poppins', sans-serif;
            outline: none;
            scroll-behavior: smooth;
            border: none;
        }
        html {
            overflow-x: hidden;
        }
        body{
            background-color: #252525;
            min-height: 70vh;
            color: #ffffff;
            justify-content: center;
            align-items: center;
        }

        /* Navigation bar */
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 10%;
            padding: 30px ;
            background-color: #252525;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
        }
        .navbar {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 0px;
        }
        .logo {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
        }
        .navbar a {
            position:relative;
            font-size: 10px;
            color: #fff;
            font-weight: 500;
            text-decoration: none;
            margin-left: 0%;
        }

        /* Sections  */
        section {
            min-height: 50vh;
            padding: 5% 9% 0rem;
        }

        /* Home page */
        .home {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
        .home-content h3 {
            font-size: 1.5rem;
            font-weight: 700;
        }
        .home-content h1 {
            font-size: 2.5rem;
        }
        .home-img img {
            display: none;
        }

        /* All buttons */
        .btn-donate {
            padding: 8px 24px;
            background: #0ef;
            border: none;
            outline: none;
            border-radius: 6px;
            box-shadow: 0 0 10px #0ef;
            font-size: 11px;
            color: #000000;
            letter-spacing: 1px;
            font-weight: 600;
            cursor: pointer;
            margin-top: 20px;
            transition: .5s;
        }
        /* lets talk part */
        .social{
            text-align: center;
            min-height: 30vh;
        }
        .back {
            background: linear-gradient(135deg, rgba(172, 155, 155, 0.1),rgba(254, 254, 254, 0));
            padding: 20px;
            border-radius: 20px;
            border: 1px solid rgba(255,255,255,0.18);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        }
        .social h3 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3;
        }

        /* about me part */
        .about {
            display: flex;
            justify-content: center;
            align-items: top;
            gap: 2rem;
            color: rgb(255, 255, 255);
            background: var(--snd-bg-color);
            flex-direction: column;
            text-align: center;
        }
        .about-img img {
            width: 80vw;
            border-radius: 10%;
        }
        .heading {
            text-align: center;
            font-size: 2rem;
        }
        .about-content h2 {
            text-align: center;
            line-height: 1.2;
        }
        .about-content .details {
            font-size: 0.6rem;
            margin: 2rem 0 3rem;
        }
        .tab-titles {
            display: flex;
            margin: 20px 0 40px;
            flex-direction: column;
        }
        .tab-links {
            width: 10px;
            margin-bottom: 20px;
            font-size: 0.9rem;
            text-decoration: bold;
            cursor: pointer;
            position: relative;
        }
        li{
            font-size: 0.7rem;
            list-style-type: none
        }
        .tab-links::after {
            content: '';
            width: 0;
            height: 3px;
            background: #2cffff;
            position: absolute;
            bottom: -10px;
            left: 0;
            transition: 0.5s;
        }
        .tab-links.active-link::after {
            width: 100%;
        }
        .tab-contents {
            list-style: none;
            margin: 10px 0;
        }
        .tab-contents ul li span{
            color: #2cffff;
            font-size: 11px;
        }
        .tab-contents {
            display: none;
        }
        .tab-contents.active-tab {
            display: block;
        }

        /* service part */
        .services-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
            grid-gap: 40px;
            margin-top: 30px;
        }
        .services  {
            min-height: 50vh;
            padding: 5% 9% 0rem;
        }
        .services-list div{
            background: linear-gradient(135deg, rgba(172, 155, 155, 0.1),rgba(254, 254, 254, 0));
            padding: 20px;
            border-radius: 20px;
            border: 1px solid rgba(255,255,255,0.18);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        }
        .services-list h2{
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
        }
        .services-list div a {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            margin-top: 20px;
            display: inline-block;
        }
        .services-list div:hover {
            background: #2cffff;
            color: #000000;
            transform: translateY(-10px);
        }

        /* portfolio */
        .portfolio{
            min-height: 50vh;
            padding-top: 30px;
        }
        .portfolio h2{
            margin-top: 20px;
            font-size: 18px;
        }
        .portfolio-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
            grid-gap: 15px;
            margin-top: 4%;
        }
        .portfolio-list div {
            height: 150px;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
        }
        .work {
            position: relative;
            cursor: pointer;
            height: 150px;
        }
        .portfolio-list img {
            width: 100%;
            height: 50%; 
            display: block;
            margin: auto;
        }
        .layer {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(135deg, rgba(172, 155, 155, 0.1),rgba(254, 254, 254, 0));
            transition: 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(0, 0, 0);
            font-size: 15px;
            font-weight: 600;
            transform: translateY(400px);
        }
        .portfolio-list div:hover {
            transform: translateY(0px);
            width: 300px;
        }
        .blurred {
            filter: blur(5px);
            transition: filter 0.5s ease;
        }
        /* contact form */
        .Contact{
            margin-top: 30px;
        }
        form{
            margin-top: 20px;
        }
        .Contact .back{
            display: '';
        }
        .Contact h3{
            font-size: 2rem;
        }
        
        .contact-box{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            gap: 10px;
        }
        .contact-left {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .input-group {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        .input-group input {
            width: 10px;
            background: transparent;
            border: none;
            outline: none;
            padding: 10px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            color: #fff;
            font-size: 14px;
        }
        input[type="submit"] {
            width: 150px;
            background: #2cffff;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 6px;
            box-shadow: 0 0 10px #0ef;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            margin-top: 20px;
            transition: .5s;
        }
        input[type="submit"]:hover {
            box-shadow: none;
        }
        .contact-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
        }
        textarea {
            background: transparent;
            border: none;
            outline: none;
            padding: 10px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            color: #fff;
            font-size: 14px;
            width: 100%;
            resize: none;
            height: 160px;
        }

}